<div class="nav-path">
  <a mat-button [routerLink]="['/uclist']">Home</a>>>
  <a mat-button [routerLink]="['/ucmenu']">Use case: {{usecaseName}}</a>>>
  <a mat-button color="primary">Feature set management</a>
</div>

<mat-divider></mat-divider>
<div class="content">
  <!-- TO-DO FEATURE SETS TABLE -->
  <button mat-raised-button [routerLink]="['/fscreation']">Create new feature set</button>

  <br>
  <br>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Feature set name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="variables">
      <th mat-header-cell *matHeaderCellDef> Number of variables </th>
      <td mat-cell *matCellDef="let element"> 
        <p *ngIf="element.variables">{{element.variables.length}} </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="created_by">
      <th mat-header-cell *matHeaderCellDef> Created by </th>
      <td mat-cell *matCellDef="let element"> {{element.created_by}} </td>
    </ng-container>

    <ng-container matColumnDef="created_on">
      <th mat-header-cell *matHeaderCellDef> Creation time </th>
      <td mat-cell *matCellDef="let element"> {{element.created_on | date:'medium'}} </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef> See details </th>
      <td mat-cell *matCellDef="let element"> <a (click)='onSelectFeatureSet(element)'><mat-icon>find_in_page</mat-icon></a> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
