<div class="nav-path">
  <a mat-button (click)="onNavigate('/uclist')">Home</a>>><a mat-button (click)="onNavigate('/ucmenu')">Use case</a>>><a mat-button (click)="onCancel('no_saved')">Feature set management</a>>><a mat-button color="primary">{{componentDirection}}</a>
</div>

<mat-divider></mat-divider>

<p><b>Use case: </b> {{usacasename}}</p>

<div class="content">
  <h3>{{componentTitle}}</h3>

  <form  [formGroup]="featureSetForm">
    <mat-form-field appearance="fill">
      <mat-label>Feature set name</mat-label>
      <input matInput ngDefaultControl formControlName="name">
      <mat-error *ngIf="!required.name" class="required-alert">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput ngDefaultControl formControlName='description'>
      <mat-error *ngIf="!required.description" class="required-alert">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>

  <br>

  <button mat-raised-button (click)='onNewVariable()'>Add new variable</button>

  <br>
  <br>

  <table mat-table #table aria-describedby="feature sets" [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef scope="col"> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="variable_type">
      <th mat-header-cell *matHeaderCellDef scope="col"> Variable Type </th>
      <td mat-cell *matCellDef="let element"> {{element.variable_type}} </td>
    </ng-container>

    <ng-container matColumnDef="variable_data_type">
      <th mat-header-cell *matHeaderCellDef scope="col"> Variable data type </th>
      <td mat-cell *matCellDef="let element"> {{element.variable_data_type}} </td>
    </ng-container>

    <ng-container matColumnDef="fhir_query">
      <th mat-header-cell *matHeaderCellDef scope="col"> FHIR Query </th>
      <td mat-cell *matCellDef="let element"> {{element.fhir_query}} </td>
    </ng-container>

    <ng-container matColumnDef="fhir_path">
      <th mat-header-cell *matHeaderCellDef scope="col"> FHIR Path </th>
      <td mat-cell *matCellDef="let element"> {{element.fhir_path}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef scope="col"> </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button aria-label="Delete" (click)="onDelete(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>



  <br>
  <br>

  <button mat-raised-button color="primary" (click)="onSave()">Save</button> &nbsp;&nbsp; 
  <button *ngIf="! isDisabled" mat-raised-button color="warn" (click)="onCancel('no_saved')">Cancel</button>
  <button *ngIf="isDisabled" mat-raised-button color="warn" (click)="onCancel('saved')">Back</button>

</div>
