<div class="nav-path">
  <a mat-button [routerLink]="['/uclist']">Home</a>>><a mat-button [routerLink]="['/ucmenu']">Use case</a>>><a mat-button [routerLink]="['/mdashboard']">Model management</a>>><a mat-button color="primary"> {{componentDirection}}</a>
</div>

<mat-divider></mat-divider>

<p><b>Use case: </b> {{useCaseName}}</p>

<mat-progress-spinner mode="indeterminate" diameter="40" 
*ngIf="isLoading"
style="margin:0 auto;">
</mat-progress-spinner> 

<div class="content">

  <mat-horizontal-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="formGroup1">
      <form [formGroup]="formGroup1">
        <ng-template matStepLabel>Name & description</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Model name</mat-label>
          <input matInput placeholder="Model name" formControlName="name" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <input matInput placeholder="Description" formControlName="description" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext [disabled]="!formGroup1.valid && !newDMModel['model_id']">Next</button>
          
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="formGroup2">
      <form [formGroup]="formGroup2">
        <ng-template matStepLabel>Data set selection</ng-template>
          <table mat-table [dataSource]='datasetSelectionDataSource' class="mat-elevation-z8">
          
            <!-- Radio button Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
              </th>
              <td mat-cell *matCellDef="let row" >

                <div *ngIf="selectedDataSet">
                  <mat-radio-button [value]="row" *ngIf="row.dataset_id != selectedDataSet.dataset_id" (change)="selectDataSet(row)"></mat-radio-button>
                  <mat-radio-button [value]="row" *ngIf="row.dataset_id === selectedDataSet.dataset_id" checked="true"></mat-radio-button>  
                </div>
                <div *ngIf="!selectedDataSet">
                  <mat-radio-button [value]="row" (change)="selectDataSet(row)"></mat-radio-button>  
                </div>
                </td>
            </ng-container> 

            <ng-container matColumnDef="name">
              <th id = 'name' mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th id = 'description' mat-header-cell *matHeaderCellDef> Description </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>
            <ng-container matColumnDef="data_sources">
              <th id = 'agents' mat-header-cell *matHeaderCellDef> Agents </th>
              <td mat-cell *matCellDef="let element">

                {{countAgents(element.dataset_sources)}}
    
              </td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th id = 'status' mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> {{element.execution_state}} </td>
            </ng-container>
            <ng-container matColumnDef="created_by">
              <th id = 'createdby' mat-header-cell *matHeaderCellDef> Created by </th>
              <td mat-cell *matCellDef="let element"> {{element.created_by}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="datasetSelectionDisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: datasetSelectionDisplayedColumns;"></tr>
          </table>
        <div>
          
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext [disabled]="!formGroup2.valid && !newDMModel['model_id']">Next</button>
        </div>
      </form>
    </mat-step>
   <!-- <mat-step [stepControl]="formGroup3">
     
      <form [formGroup]="formGroup3">
        <ng-template matStepLabel>Categorical variables</ng-template>

        <table mat-table [dataSource]="categorigalVariablesDataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <ng-container matColumnDef="fhir_path">
            <th mat-header-cell *matHeaderCellDef> FHIR path </th>
            <td mat-cell *matCellDef="let element"> {{element.fhir_path}} </td>
          </ng-container>
        
          <ng-container matColumnDef="fhir_query">
            <th mat-header-cell *matHeaderCellDef> FHIR query </th>
            <td mat-cell *matCellDef="let element"> {{element.fhir_query}} </td>
          </ng-container>
        
          <ng-container matColumnDef="variable_type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.variable_type}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="categorialVariablesColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: categorialVariablesColumns;"></tr>
        </table>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
  -->

  <!--
    <mat-step [stepControl]="formGroup4" *ngIf="usecaseType === 'prediction'">
      <form [formGroup]="formGroup4">
        <ng-template matStepLabel>Missing Data</ng-template>

        <table mat-table [dataSource]="missingDataDataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Variable name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <ng-container matColumnDef="variable_type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element"> {{element.variable_data_type}} </td>
          </ng-container>
        
          <ng-container matColumnDef="operation">
            <th mat-header-cell *matHeaderCellDef class="operation-column"> Operation </th>
            <td mat-cell *matCellDef="let element"> 

              <mat-select [value]="element.missing_data_operation" name="operations" [disabled]="isDisabled" class="select-operation" (selectionChange)="saveOperations($event.value, element)">
                <mat-option *ngFor="let op of operations" [value]="op.value" >
                  {{op.viewValue}}
                </mat-option>
              </mat-select>
              </td>
          </ng-container>
        
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef class="value-column"> Value </th>
            <td mat-cell *matCellDef="let element"> 
                <input  *ngIf="element.missing_data_operation === 'set_specific'" 
                      [value]="element.missing_data_specific_value" 
                      class="operation-input"
                      #operator_value
                      (change)="specificValueChange($event.target.value, element)"
                      [disabled]="isDisabled">
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="missingDataColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: missingDataColumns;"></tr>
        </table>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext >Next</button>
        </div>
      </form>
    </mat-step>

    -->
    <mat-step [stepControl]="formGroup5">
      <form [formGroup]="formGroup5">
        <ng-template matStepLabel>Algorithm selection</ng-template>

          <!-- Algorithm section -->
          <div class="algorithm-section">

            <!-- algorithm definition form -->
            <div class="algorithm-definition">
              <mat-form-field appearance="fill">
                <mat-label>Algorithm</mat-label>
                <mat-select name="algorithmName" (selectionChange)="onChangeAlgorithm($event.value)" [disabled]="isDisabled">
                  <mat-option *ngFor="let algorithm of algorithms" [value]="algorithm">
                    {{algorithm.display}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <br> 
              <mat-form-field *ngFor="let input of algorithmParameterForm" appearance="legacy">
                <div>
                  <mat-icon matTooltipClass="tooltip"
                                aria-hidden="false" 
                                style="color: #16a4dc"
                                aria-label="Example home icon"
                                [matTooltip]="input.description + input.possible_values_description"
                                matTooltipHideDelay="3000">
                                info
                  </mat-icon>
                  <mat-label>{{input.display}}</mat-label>
                  <input matInput [formControlName]="input.name" [disabled]="isDisabled">
                </div>
              </mat-form-field>
              <button [disabled]="isDisabled" mat-raised-button color="primary" class="add-algorithm-btn" (click)="addAlgorithm()"> Add </button>
            </div>

            <!-- list of algorithms -->
            <div class="algorithm-list">
              <div class="algorithm-created" *ngFor="let algorithm of algorithmsList">
                <div class="alg-label">
                  <b>Algorithm: </b>
                </div>
                <div class="alg-value">
                  {{algorithm.name}}
                </div> <br>

                <div *ngFor="let parameter of algorithm.parameters">
                  <div class="alg-label">
                    <b>{{parameter.display}}: </b>
                  </div>
                  <div class="alg-value">
                    {{parameter.value}}
                  </div> <br>
                </div>
                
              </div>
            </div>
          </div>
          
        <div *ngIf="usecaseType === 'prediction'">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext [disabled]="algorithmsList.length == 0 && !newDMModel['model_id']">Next</button>
        </div>
        <div *ngIf="usecaseType === 'association'">  
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="onSave()" [disabled]="!formGroup5.valid && !newDMModel['model_id']">Save and Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="formGroup6" *ngIf="usecaseType === 'prediction'">
      <form [formGroup]="formGroup6">
        <ng-template matStepLabel>Parameters</ng-template>
        <div class="params-container">

          <mat-card class="params-card">

            <div class="grid">
              <div class="col-1">

                <label class="label-param">Trainig size</label> 
                <small class="little-letter">Data set to be used for training the model.</small>
                <label class="label-param">Test size</label>
                <small class="little-letter">Data set to evaluate the model once it is created.</small>
              </div>
              <div class="col-2">
                <mat-slider
                  thumbLabel
                  tickInterval="10"
                  min="1"
                  max="100"
                  class="slider-btn"
                  formControlName="training_size"
                  name="test_size"
                  (input)="changeTraining($event)">
                </mat-slider>

                <mat-slider
                  thumbLabel
                  tickInterval="10"
                  min="1"
                  max="100"
                  class="slider-btn"
                  formControlName="test_size"
                  disabled="true">
                </mat-slider> 


              </div>
              <div class="col-3">
                <label > {{formGroup6.controls.training_size.value / 100}} </label>
                <br>
                <label > {{formGroup6.controls.test_size.value / 100}}</label>
                <br>
              </div>

            </div>

          </mat-card>

        </div>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="onSave()" [disabled]="!formGroup6.valid && !newDMModel['model_id']">Save and Next</button>
          
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="formGroup7">
      <form [formGroup]="formGroup7">
        <ng-template matStepLabel>Generate & Completed</ng-template>

          <div *ngIf="newDMModel['data_mining_state']">
            <div *ngIf="newDMModel['data_mining_state'] === 'validating' || !newDMModel['data_mining_state']">

              <p class="state-feedback">
                <mat-icon 
                aria-hidden="false"
                style="color: #2695d9">
                  info
              </mat-icon>
                Validating the model.
              </p>
            </div>
  
            <div *ngIf="newDMModel['data_mining_state'] === 'testing' || !newDMModel['data_mining_state']">
  
              <p class="state-feedback">
                <mat-icon 
                aria-hidden="false"
                style="color: #2695d9">
                  info
              </mat-icon>
                Testing model.
              </p>
            </div>
  
            <div *ngIf="newDMModel['data_mining_state'] === 'calculating_frequency_arl' || !newDMModel['data_mining_state']">
              <p class="state-feedback">
                <mat-icon 
                aria-hidden="false"
                style="color: #2695d9">
                  info
              </mat-icon>
                Calculating item frequencies.
              </p>
            </div>
  
            <div *ngIf="newDMModel['data_mining_state'] === 'executing_arl' || !newDMModel['data_mining_state']">
              
              <p class="state-feedback">
                <mat-icon 
                aria-hidden="false"
                style="color: #2695d9">
                  info
              </mat-icon>
                Training model.
              </p>
            </div>
  
            <div *ngIf="newDMModel['data_mining_state'] === 'error' || !newDMModel['data_mining_state']">
              <p class="state-feedback">
                <mat-icon 
                  aria-hidden="false"
                  style="color: #d92626;"
                  class="material-icons-outlined">
                  report
                </mat-icon>
                An error occurred.
              </p>
            </div>
          </div>
          

          <div *ngIf="newDMModel['data_mining_state'] === 'training' || !newDMModel['data_mining_state']" class="not-ready-panel">
          
            <mat-spinner></mat-spinner>
            <p>Generating Model...</p>

          </div>
          <div *ngIf="newDMModel['data_mining_state'] === 'final' || newDMModel['data_mining_state'] === 'ready'" class="boosted_models_panel">

            <mat-card class="statistics-cards" *ngFor="let bustedModel of this.newDMModel['boosted_models']">

              <div class="algorithm-description">
                <div>
                  <h3>{{bustedModel['algorithm']['display']}}</h3>
                </div>
                
                <div class="param-cont" *ngFor="let value of bustedModel['algorithm']['parameters']">
                  <div class="param-name">

                    <mat-icon matTooltipClass="tooltip"
                              aria-hidden="false" 
                              style="color: #16a4dc"
                              aria-label="Example home icon"
                              [matTooltip]="value.description"
                              matTooltipHideDelay="3000">
                              info
                    </mat-icon>
                    
                    <b>{{ value.display }}:</b>
                  </div>
                  <div class="param-value">
                    <p *ngIf="!value.possible_values">
                      {{ value.value }}
                      <span style="color: #16a4dc;"
                            *ngIf="value.comma_separated_multiple_values"
                            matTooltip="User can provide more than one value."
                            matTooltipHideDelay="3000">
                        *
                      </span>
                    </p>
                    <div *ngIf="value.possible_values">
                      <mat-select 
                        style="width: 29%; outline: none; float: right; border: 1px #b6b6b6 solid; border-radius: 3px;"
                        [(value)]="value.value"
                        [matTooltip]="value.possible_values_description"
                        matTooltipHideDelay="3000"
                        >
                        <!--(selectionChange)="selectPoss($event, value)"-->
                        <mat-option *ngFor="let possVal of value.possible_values" [value]="possVal"
                        (selectionChange)="value.value = possVal"
                        >
                          {{possVal}}
                        </mat-option>
                      </mat-select>
                    </div>
                  </div>
                </div>
              </div>
              <!-- PREDICTION BOOSETD MODEL TABLE-->
              <table mat-table [dataSource]="statistics" class="mat-elevation-z8" *ngIf="usecaseType === 'prediction'">
                <caption>Prediction boosetd model table</caption>
                <ng-container matColumnDef="statistics">
                  <th mat-header-cell *matHeaderCellDef> Statistics </th>
                  <td mat-cell *matCellDef="let element"> {{element.display}} </td>
                </ng-container>
                <ng-container matColumnDef="results">
                  <th mat-header-cell *matHeaderCellDef> Training results </th>
                  <td mat-cell *matCellDef="let element"> {{element.value}} </td>
                </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="statisticsColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: statisticsColumns;"></tr>
              </table>

              <!-- ASSOCIATION BOOSETD MODEL TABLE-->
              <table mat-table [dataSource]="statistics" class="mat-elevation-z8" *ngIf="usecaseType === 'association'">
                <caption>Association boosetd model table</caption>
                <ng-container matColumnDef="antecedent">
                  <th id='antecedent' mat-header-cell *matHeaderCellDef>Antecedent</th>
                  <td mat-cell *matCellDef="let element">
                    <p *ngFor="let ant of element.antecedent">
                      {{ant}}
                    </p>
                  </td>
                </ng-container>
                <ng-container matColumnDef="confidence">
                  <th id='confidence' mat-header-cell *matHeaderCellDef>Confidence</th>
                  <td mat-cell *matCellDef="let element"> {{element.confidence | number : '1.2-3'}} </td>
                </ng-container>
                <ng-container matColumnDef="consequent">
                  <th id='consequent' mat-header-cell *matHeaderCellDef>Consequent</th>
                  <td mat-cell *matCellDef="let element"> {{element.consequent}} </td>
                </ng-container>
                <ng-container matColumnDef="lift">
                  <th id='lift' mat-header-cell *matHeaderCellDef>Lift</th>
                  <td mat-cell *matCellDef="let element"> {{element.lift | number : '1.2-3'}} </td>
                </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="statisticsColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: statisticsColumns;"></tr>
              </table>
              <br>
              <button mat-raised-button color="primary" class="add-algorithm-btn" (click)="selectBostedModel(bustedModel)">Select</button>
            </mat-card>
          </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>


