
input, mat-form-field {
  width: 100%;
}

.operation-input {
  width: 50%;
  height: 2em;
  border-radius: 3px;
  border: #878b88 1px solid;
  text-align: center;
}

.select-operation{
  width: 60%;
  height: 2em;
  border-radius: 3px;
  border: #878b88 1px solid;
}

.operation-column{
  width: 30%;
}

.value-column {
  width: 10%;
}

table {
  width: 100%;
}

.mat-input-element:disabled {
  color: black;
}

.algorithm-section {
  display: flex;
}

.algorithm-definition {
  width: 65%;
  float: left;
  background-color: white;
  border: 1px solid grey;
  border-radius: 6px;
  padding: 2%;
}

.algorithm-list {
  background-color: violet;
  width: 25%;
  padding: 1%;
  float: right;
  margin-left: auto;
  background-color: white;
  border: 1px solid grey;
  border-radius: 6px;
}

.algorithm-created {
  background-color: white;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 1%;
  box-shadow: 1px 1px 4px grey;
  margin-bottom: 3%;
}

.alg-label {
  float: left;
}

.alg-value {
  float: right;
}

.add-algorithm-btn {
  background-color: darkslateblue;
  float: right;
}

.params-card {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.slider-btn {
  width: 100%;
}

.grid {
  display: flex;
}

.col-1 {
  display: grid;
  text-align: end;
  width: 20%;
}

.col-2 {
  display: grid;
  width: 50%;
  text-align: center;
}

.col-3 {
  display: grid;
  width: 20%;
}
::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: darkslateblue !important;
  margin: 0;
  position: absolute;
}

.not-ready-panel {
  text-align: center;
  line-height: 200px;
  height: 200px;
  display: grid; 
  place-items: center;
  height: calc(45vh - 20px);
  color: darkslateblue;
  padding: 5%;
}
.statistics-cards {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.param-name {
  float: left;
  width: 50%;
}

.boosted_models_panel {
  display: flex;
}

::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}

.little-letter{

}