
input, mat-form-field {
  width: 100%;
}

.operation-input {
  width: 50%;
  height: 2em;
  border-radius: 3px;
  border: #878b88 1px solid;
  text-align: center;
}

.select-operation{
  width: 60%;
  height: 2em;
  border-radius: 3px;
  border: #878b88 1px solid;
}

.operation-column{
  width: 30%;
}

.value-column {
  width: 10%;
}

table {
  width: 100%;
}

.mat-input-element:disabled {
  color: black;
}

.algorithm-section {
  display: flex;
}

.algorithm-definition {
  width: 65%;
  float: left;
  background-color: white;
  border: 1px solid grey;
  border-radius: 6px;
  padding: 2%;
}

.algorithm-list {
  background-color: violet;
  width: 25%;
  padding: 1%;
  float: right;
  margin-left: auto;
  background-color: white;
  border: 1px solid grey;
  border-radius: 6px;
}

.algorithm-created {
  background-color: white;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 1%;
  box-shadow: 1px 1px 4px grey;
  margin-bottom: 3%;
}

.alg-label {
  float: left;
}

.alg-value {
  float: right;
}

.add-algorithm-btn {
  background-color: darkslateblue;
  float: right;
}

.params-card {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.slider-btn {
  width: 50%;
}

.grid {

}

.col1 {

}

.col2 {
  
}

.col3 {
  
}
