.featuremanagement-card {
  max-width: 400px;
 
}

.data-card {
  margin-bottom: 20px;
}

.dataSetmanagement-card {
  max-width: 400px;
}

.modelmanagement-card {
  max-width: 400px;
}

.predictive-study-card{
  max-width: 400px;
}

.predictive-study-card-header {
  background-color: #6db044;
  color: white;
  max-width: 400px;
}

.featuremanagement-card-header {
  max-width: 400px;
  background-color: chocolate;
  color: white;
}

.dataSetmanagement-card-header {
  max-width: 400px;
  background-color: #16a4dc;
  color: white;
}

.modelmanagement-card-header {
  max-width: 400px;
  background-color: darkslateblue;
  color: white;
}

.featuremanagement-buttom {
  background-color: chocolate;
}

.featuremanagement-card-buttom {
  background-color: #6db044;
}

.modelmanagement-buttom {
  background-color: darkslateblue;
}

mat-card-content p {
  padding-top: 12px;
}

.label-title {
  font-weight: bold;
  font-size: small;
}

mat-grid-tile mat-card{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.use-case-header {
  border: 1px dotted grey;
  padding: 4px;
}

mat-grid-tile{
  margin-bottom: 10px !important;
}
