

<div class="center">
  <br>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>User</mat-label>
    <input #user matInput required>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input #password matInput [type]="hide ? 'password' : 'text'" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <br>
  <!-- <button mat-raised-button (click)="onLogin(user.value, password.value)">Login</button>
  <br> -->
  <br>
  <a mat-button [routerLink]="" (click)="onRememberPassword()">Forgot your user/password</a>
  <br>
  <a mat-button [routerLink]="" (click)="onAskAccess()">Ask for access</a>
</div>
<p class="footer">
  &copy; Fair4Health H2020 Project. 
  <br>
  This project has received funding from the European Union´s Horizon 2020 research and innovation programme under grant agreement No 824666
</p>


