<h1 mat-dialog-title>New variable</h1>

<div mat-dialog-content appearance="fill">

  <div >
    <mat-radio-button (change)="selectionType('auto')" checked="checked">Automatic</mat-radio-button> 
    <mat-radio-button (change)="selectionType('manual')">Manual</mat-radio-button>
  </div>
  <br>

  <form [formGroup]="variableForm">

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <!-- <input matInput [(ngModel)]="data.name"> -->
      <input matInput formControlName="name">
      <mat-error *ngIf="!requiredFields.name" class="required-alert">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>

    <!-- container for the fields of a MANUAL variable creation -->
    <div *ngIf="selection === 'manual'">
      <mat-form-field appearance="fill">
        <mat-label>FHIR Query</mat-label>
        <input matInput formControlName="fhir_query" [pattern]="pattern"> 
        <!-- <input matInput [(ngModel)]="data.fhir_query" [pattern]="pattern"> -->
        <mat-error *ngIf="!requiredFields.fhir_query" class="required-alert">
          Fhir query is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br>
      &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;

      <mat-form-field *ngIf="fhirpathInputType=='1'" appearance="fill">
        <mat-label>FHIR Path</mat-label>
        <input  matInput formControlName="fhir_path">
        <!-- <input  matInput [(ngModel)]="data.fhir_path"> -->
        <mat-error *ngIf="!requiredFields.fhir_path" class="required-alert">
          Fhir Path is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <mat-label>Data type</mat-label>
        <mat-select formControlName="variable_data_type"  matNativeControl name="select">
          <!-- <mat-select [(ngModel)]="data.variable_data_type"  matNativeControl name="select"> -->
          <mat-option value="categorical">categorical</mat-option>
          <mat-option value="numeric">numeric</mat-option>
        </mat-select>
        <mat-error *ngIf="!requiredFields.variable_data_type" class="required-alert">
          Variable type is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <!-- container for an AUTOMATIC variable creation-->
    <div *ngIf="selection === 'auto'">
      <mat-form-field appearance="fill">
        <mat-label>Variable</mat-label>
        <mat-select (selectionChange)="selectvariable($event)" formControlName="selectedVariable">
          <mat-option *ngFor="let variable of variables" [value]="variable">{{variable.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="!requiredFields.selectedVariable" class="required-alert">
          Select a variable.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-form-field">
        <mat-label>Input</mat-label>
        <input matInput type="text" disabled="true">
        <!--  <input matInput *ngIf="fieldType === 'text'" [(ngModel)]="fieldData">  -->
 
        <input matInput *ngIf="fieldType === 'text'" formControlName="fieldData">
        <input matInput type="number" *ngIf="fieldType === 'number'" formControlName="fieldData">
        <mat-error *ngIf="!requiredFields.fieldData" class="required-alert">
          Input is <strong>required</strong>
        </mat-error>
      </mat-form-field>

    </div>

    <mat-form-field appearance="fill" *ngIf="projectType != 'association'">
      <mat-label>Variable type</mat-label>
    <!--  <mat-select [(ngModel)]="data.variable_type"  matNativeControl name="select">-->
      <mat-select formControlName="variable_type"  matNativeControl name="select">
        <mat-option value="dependent">Dependent</mat-option>
        <mat-option value="independent">Independent</mat-option>
      </mat-select>
      <mat-error *ngIf="!requiredFields.variable_type" class="required-alert">
        Variable type is <strong>required</strong>
      </mat-error>
    </mat-form-field>

  </form>

 

  
  <br>
  </div>



  

<br>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="setValueToQuery()" cdkFocusInitial>Add</button>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
</div>
