.center {
  padding: 70px 0;
  text-align: center;
}
.right {
  padding-right: 12px;
  float: right;
}
.footer {
  font-size: smaller;
  color: #737270;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;     
  text-align: center;
}
.mat-column-number {
  font-size: small;
}
.mat-column-description {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  /* width: 28% !important; */
}
.mat-column-sites {
  font-size: small;
}
.mat-column-algorithm {
  font-size: small;
}
.mat-column-datamodel {
  font-size: small;
  flex: 0 0 10% !important;
  width: 10% !important;
}

.mat-column-owner {
  font-size: small;
}
.fontlink{
  font-size: small !important;
  text-decoration: revert !important;
  font-weight: normal !important;
  line-height: 10px;
  white-space: pre-wrap; /* CSS3 */    
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */    
  white-space: -o-pre-wrap; /* Opera 7 */    
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  color: #18a4df;
}
