.margin { 
    margin-left: 5%; 
    margin-right: 5%; 
}
.example-radio-group {
    display: block;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }
  